@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: "DM Sans", sans-serif !important;
}

:root {
    --font--color: #18212d;
    --font--color2: #717175;
}

.container {
    max-width: 1428px;
    padding: 0 15px;
    width: 100%;
}

.container-fluid {
    max-width: 1530px;
    padding: 0 15px;
    width: 100%;
}

ul {
    list-style-type: none;
}

h1,
.title1 {
    font-size: 54px;
    font-weight: 400;
    color: var(--font--color);
}

h2,
.title2 {
    font-size: 50px;
    font-weight: 400;
    color: var(--font--color);
}

p,
.para {
    font-size: 16px;
    font-weight: 500;
    color: var(--font--color2);
}

a {
    text-decoration: none !important;
    display: inline-block;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* header */
.header-section {}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.nav-btn {
    padding: 16px 14px !important;
    background: #EAE4EA;
    border: 1px solid #E5DCE5;
    border-radius: 50px;
    min-width: 112px !important;
}

.nav-btn:hover {
    transform: translateY(5px);
    transition: background 1s ease-in-out;
    background-color: #aa6aaa;
    color: #E5DCE5 !important;
}

.navbar-brand {
    z-index: 5;
}

.navbar-brand img {
    width: 224px;
    object-fit: contain;
}

/* offcanvas */
.offcanvas {
    display: none;
    background: #000 !important;
}

.offcanvas-body a {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffffff;
    text-decoration: none;
    display: block;

}
.offcanvas-header button::before {
  display: none;
}
.offcanvas-header button {
    background: url(../Assets/x-white.jpg) no-repeat center / contain;
    height: 25px;
    width: 25px;
    margin-left: auto;
}

.offcanvas-body button {
    width: 100%;
}


/* .modal-backdrop {
    display: none;
}

#mobileMenu {
    display: none;
} */

/* Banner-section */
.banner-section {
    padding-inline: 50px;
}

.banner-wrapper {
    background: url(../Assets/banner-bg.png) no-repeat center/cover;
    padding-top: 48px;
    border-radius: 20px;
    /* min-height: 100vh; */
}

.banner-section .title1 {
    text-align: center;
    max-width: 984px;

}

.banner-section .para {
    max-width: 817px;
    text-align: center;
    margin-block: 22px 30px;
}

.banner-btn {
    color: #ffffff;
    background-color: #aa6aaa;
    padding: 20px 24px;
    border-radius: 50px;
    margin-bottom: 36px;
}

.bannerimg {
    border-radius: 24px;
    max-width: 1140px;
    padding: 13px 15px 0 15px;
    background: rgba(255, 255, 255, .2);
    border: 1px solid #ffffff;
}

.bannerimg img {
    border-radius: 20px;
}

/* Property Section */
.property-section {
    padding: 80px 0 60px;
}

.house1 {
    max-width: 475px;
    height: fit-content;
}

.house2 {
    max-width: 440px;
    height: fit-content;
}

.property-section .title2 {
    margin-bottom: 80px;
}

.v-btn {
    color: #ffffff;
    background-color: #aa6aaa;
    padding: 20px 24px;
    border-radius: 50px;
}

.right-img-content .para {
    margin-block: 70px 28px;
    max-width: 500px;
}

/* Lets Build- Card Section */

.extraordinary-section {
    background-color: #eae4ea;
    padding-block: 75px;

}

.extraordinary-section .title2 {
    max-width: 834px;
    margin-bottom: 45px;
}

.card {
    border: none !important;
    border-radius: 16px !important;
    overflow: hidden !important;
    height: 356px !important;
    transition: 0.3s ease;
    margin-bottom: 16px !important;
}


.card-body {
    padding: 55px 28px 30px !important;
}



.card-purple {
    background-color: #aa6aaa !important;
    color: white;
}

.card-title {
    font-size: 28px;
    color: var(--font--color);
    margin-bottom: 30px;
}

.card-purple .contact-link,
.card-purple .card-title,
.card-purple .card-text {
    color: white;
}


.contact-link {
    font-weight: 500;
    display: inline-block;
    margin-top: 16px;
    text-decoration: none;
    color: #000;
}

.contact-link:hover {
    text-decoration: underline;
}

.custom-card-wrapper {
    padding-left: 75px;
    padding-right: 75px;
}

.img-row {
    padding: 0;
}

.card .img {
    object-fit: fill !important;
}

/* Testimonial section */
.testimonial-section {
    padding: 100px 20px;
    text-align: center;
    position: relative;
}

.testimonial-subtitle>span {
    display: inline-block;
    padding: 10px 18px;
    font-size: 14px;
    color: #888;
    margin-bottom: 18px;
    border: 2px solid #EFEEED;
    border-radius: 50px;
}

.testimonial-subtitle>span:hover {
    background: #000;
    color: #ddd;
    cursor: pointer;
}

.testimonial-title {
    font-weight: bold;
    margin-bottom: 30px;
}

.testimonial-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}

.testimonial-carousel img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all 0.4s ease;
    opacity: 0.5;
    cursor: pointer;
}

.testimonial-carousel img.active {
    width: 100px;
    height: 100px;
    opacity: 1;
    filter: none;
    transform: scale(1.1);
    border: 3px solid #ddd;
}

.testimonial-text {
    max-width: 700px;
    margin: 0 auto 10px;
    font-size: 1rem;
    color: #444;
}

.testimonial-author {
    font-weight: 600;
    color: #aa5bd4;
}

.testimonial-role {
    font-size: 0.85rem;
    color: #888;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #eee;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #333;
    z-index: 10;
}

.arrow-btn.left {
    left: 10px;
}

.arrow-btn.right {
    right: 10px;
}

/* Footer Section */
.footer-section {
    padding: 123px 0 16px;
    background: var(--font--color);
}

.foot-link {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
}

.list-item>li {
    margin-bottom: 24px;
}

.foot-top {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 15px;
}

.top::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 1px;
    width: 52px;
    background-color: #ffffff;
}

.sub-sec {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#email {
    background: transparent;
    border-radius: 50px;
    border: 1px solid #eefdf8;
    padding: 12px 14px;
    flex-grow: 1;

}

.tel {
    background-color: #aa6aaa;
    height: 46px;
    width: 46px;
    padding: 12px 9px;
}

.py-icon {
    padding: 8px;
    height: 41px;
    width: 41px;
}

.foot-logo {
    max-width: 195px;
    height: fit-content;
}

.container-fluid hr {
    background: #eeeeee;
    height: 3px !important;
}

.end {
    max-width: 322px;
    font-size: 14px;
    color: #ffffff;
}

/* sub footer */
.s-content {
    width: 100%;
    padding: 38px 35px;
    background-color: #8a737d;
    border-radius: 6px;
}

.s-content .title2 {
    color: #ffffff !important;
}

.s-img {
    max-width: 103px;
    object-fit: contain;
}

.s-btns {
    padding: 22px 36px;
    background-color: #fff;
    border-radius: 50px;
    min-width: 153px;
}

.sub-footer {
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

@media (max-width: 1200px) {
    .extraordinary-section {
        height: auto;
        padding: 60px 15px;
    }

    .custom-card-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .card-body {
        padding: 30px 15px !important;
    }

    .card-title {
        font-size: 24px;
        margin-bottom: 25px !important;
    }

    #email {
        padding: 10px 2px;
    }
}

@media screen and (max-width:992px) {
    .offcanvas {
        display: block;
    }

    .title2 {
        font-size: 40px;
    }

    .navbar-brand {
        left: 0;
    }

    .nav-link:hover {
        border-bottom: 1px solid white;
    }

    .nav-btn {
        background-color: #aa6aaa;
    }

    .navbar-brand img {
        width: 190px;
    }

    .banner-wrapper {
        padding-top: 80px;
    }

    .house1,
    .house2 {
        margin: auto;
    }

    .property-section .title2 {
        margin-bottom: 60px;
        text-align: center;
    }

    .right-img-content .para {
        margin: 50px auto 20px;

    }

    .btn-img {
        text-align: center;
    }

    .extraordinary-section .title2 {
        font-size: 40px;
    }
}

@media screen and (max-width:768px) {
    .title1 {
        font-size: 40px;
    }

    .title2 {
        font-size: 36px !important;
    }

    .banner-section {
        padding-inline: 30px;
    }

    .para {
        font-size: 14px;
    }

    .property-section .title2,
    .extraordinary-section .title2 {
        font-size: 36px;
    }

    .card {
        height: 325px !important;
    }
}

@media screen and (max-width:576px) {
    .title1 {
        font-size: 24px;
    }

    .title2 {
        font-size: 22px !important;
        text-align: center;
    }

    .banner-section .para {
        font-size: 12px;
        margin-block: 15px;

    }

    .banner-section {
        padding-inline: 10px;
    }

    .banner-btn {
        padding: 10px 18px;
    }

    .bannerimg {
        padding: 5px 7px 0;
    }

    .property-section .title2 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .extraordinary-section .title2 {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .right-img-content .para {
        margin: 15px auto;
    }

    .card-title {
        font-size: 16px;
    }

    .card {
        height: 280px !important;
    }

    .card-text {
        font-size: 12px;
    }

    /* Testimonial section */
    .testimonial-carousel img {
        width: 40px;
        height: 40px;
    }

    .testimonial-carousel img.active {
        width: 80px;
        height: 80px;
    }

    /* Footer */
    .list-item {
        text-align: center;
    }

    .top::after {
        display: none;
    }

    .top {
        text-align: center;
    }

    ol,
    ul {
        padding-left: 0 !important;
    }

    .py-ic {
        justify-content: center !important;
    }

    .foot-logo {
        margin: 0 auto 20px;
    }

    .s-content {
        flex-direction: column;
    }

    .s-res {
        justify-content: center;
        margin-top: 10px;
    }

    .s-btns {
        padding: 8px 12px;
        text-align: center;
    }
}